.about-company .container {
  gap: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "title" "company-content";
}
@media (min-width: 1200px) {
  .about-company .container {
    text-align: start;
    padding-top: 120px;
    -moz-column-gap: 100px;
         column-gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "founder title" "founder company-content";
  }
}
@media (min-width: 1400px) {
  .about-company .container {
    row-gap: 50px;
    -moz-column-gap: 120px;
         column-gap: 120px;
  }
}
.about-company .container .section-title {
  grid-area: title;
  grid-row: 1/2;
}
@media (min-width: 1200px) {
  .about-company .container .section-title {
    padding: 0px 0px 10px;
    max-width: 500px;
  }
}
.about-company .container .about-founder {
  grid-area: founder;
  grid-row: 1/4;
  display: none;
}
@media (min-width: 1200px) {
  .about-company .container .about-founder {
    position: relative;
    display: block;
  }
}
.about-company .container .about-founder .image-samantha:hover + .info-samantha {
  display: block;
}
.about-company .container .about-founder .info-samantha {
  position: absolute;
  background-color: #BEEBFF;
  color: #000000;
  left: -30px;
  top: 450px;
  display: none;
  padding: 20px;
}
.about-company .container .about-founder .info-samantha .info-samantha-text {
  display: flex;
  justify-content: start;
  align-items: center;
}
.about-company .container .about-founder .info-samantha .info-samantha-text p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  padding-right: 5px;
}
.about-company .container .about-founder .info-samantha .info-samantha-text h2 {
  color: #F94D1C;
  font-size: 16px;
  padding-bottom: 5px;
}
.about-company .container .about-founder .info-samantha blockquote {
  padding-top: 10px;
  padding-bottom: 10px;
}
.about-company .container .about-company-content {
  grid-area: company-content;
  grid-row: 2/4;
  padding-bottom: 90px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .about-company .container .about-company-content {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 992px) {
  .about-company .container .about-company-content {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media (min-width: 1200px) {
  .about-company .container .about-company-content {
    padding: 0;
    text-align: start;
  }
}
.about-company .container .about-company-content p {
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  .about-company .container .about-company-content p {
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .about-company .container .about-company-content .company-info {
    margin: 20px 0px 90px;
  }
}
@media (min-width: 1200px) {
  .about-company .container .about-company-content .company-info {
    justify-content: left;
    padding-top: 30px;
  }
}
@media (min-width: 576px) {
  .about-company .container .about-company-content .company-info .btn-black {
    display: inline;
  }
}
.about-company .container .about-company-content .company-info .btn-intro-vid {
  display: none;
}
@media (min-width: 576px) {
  .about-company .container .about-company-content .company-info .btn-intro-vid {
    display: inline;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    margin: 30px;
    padding: 12px;
    transition: background-color 0.3s ease-in-out, color 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 7px 7px 7px 2px rgba(138, 137, 137, 0.5254901961);
  }
  .about-company .container .about-company-content .company-info .btn-intro-vid i {
    margin: 5px;
    color: #000000;
  }
  .about-company .container .about-company-content .company-info .btn-intro-vid:hover {
    background-color: #000000;
    box-shadow: 3px 3px 3px 2px rgba(138, 137, 137, 0.5254901961);
    cursor: pointer;
  }
  .about-company .container .about-company-content .company-info .btn-intro-vid:hover i {
    color: #f0efe9;
  }
}
@media (min-width: 1400px) {
  .about-company .container .about-company-content .company-info .btn-intro-vid {
    margin-left: 1rem;
  }
}
.about-company .container .about-company-content .company-info p {
  display: none;
}
@media (min-width: 576px) {
  .about-company .container .about-company-content .company-info p {
    display: inline;
    margin-left: -20px;
  }
}