.article-news .container .article-news-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .article-news .container .article-news-top {
    flex-direction: row;
  }
}
.article-news .container .article-news-top .btn-transparent {
  margin-top: 20px;
  margin-bottom: 90px;
}
@media (min-width: 576px) {
  .article-news .container .article-news-top .btn-transparent {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .article-news .container .article-news-top .btn-transparent {
    padding: 12px 9px;
    margin-top: 120px;
  }
}
.article-news .container .article-news-top .section-title {
  padding-bottom: 30px;
}
.article-news .container .article-news-content {
  display: none;
}
@media (min-width: 576px) {
  .article-news .container .article-news-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .article-news .container .article-news-content {
    flex-direction: row;
  }
}
.article-news .container .article-news-content .article-content {
  width: 100%;
  max-height: 100%;
  margin: 20px;
  transition: background-color 0.3s ease-in-out, color 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 7px 7px 7px 2px rgba(138, 137, 137, 0.5254901961);
}
.article-news .container .article-news-content .article-content:hover {
  box-shadow: 3px 3px 3px 2px rgba(138, 137, 137, 0.5254901961);
}
.article-news .container .article-news-content .article-content a {
  text-decoration: none;
  color: #191919;
}
.article-news .container .article-news-content .article-content .img-fluid {
  width: 100%;
  height: 300px;
  padding-bottom: 10px;
}
.article-news .container .article-news-content .article-content h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .article-news .container .article-news-content .article-content h3 {
    font-size: 22px;
  }
}