.meet-team {
    background-color: #F2CF80;
    padding-bottom: 100px;

    .container {

        .meet-team-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            @media (min-width: 998px) {
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
            }

            a {
                border: 1px solid black;
                background-color: #ffd678;
                margin-bottom: 20px;


                @media (min-width: 998px) {
                    margin-bottom: 0;
                    margin-top: 120px;
                }
            }

            .section-title {
                padding-bottom: 30px;
            }
        }

        .team-members {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;

            img {
                padding-bottom: 20px;
            }

            h3 {
                font-family: 'DM', sans-serif;
                font-weight: 600;
                font-size: 22px;
            }

            .mark-a {
                display: none;

                @media (min-width: 998px) {
                    display: block;
                }
            }

            .justin-w {
                display: none;

                @media (min-width: 768px) {
                    display: block;
                }
            }
        }

        .img_dot {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
        }

        .testimonial {
            background-color: #ffffff;
            margin-top: 70px;
            padding: 20px 50px 30px;

            @media (min-width: 768px) {
                padding: 20px 20px 100px;
            }

            @media (min-width: 992px) {
                padding-left: 100px;
                padding-right: 100px;
            }


            .testimonial-text {
                text-align: center;
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: "title"
                    "rev-1"
                    "cassandra";

                @media (min-width: 768px) {
                    text-align: left;
                    gap: 20px;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "title title"
                        "rev-1 rev-2"
                        "cassandra amanda";
                }

                @media (min-width: 1200px) {
                    gap: 50px;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-areas: "title title title"
                        "rev-1 rev-2 rev-3"
                        "cassandra amanda jack";
                }

                .section-title {
                    grid-area: title;
                    text-align: center;
                }

                .rev-1 {
                    grid-area: rev-1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 50px 10px 50px;

                    @media (min-width: 768px) {
                        padding: 20px 10px 50px;
                        align-items: start;
                    }

                    @media (min-width: 998px) {
                        padding: 20px 0px 50px;
                    }

                    img {
                        padding-bottom: 15px;
                    }

                    .cassandra {

                        grid-area: cassandra;
                        padding-top: 50px;
                        padding-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h3 {
                            font-family: 'DM Sans', sans-serif;
                            font-size: 18px;
                            font-weight: 600;

                            @media (min-width: 1400px) {
                                font-size: 20px;
                            }
                        }

                        p {
                            color: #F94D1C;
                            font-size: 12px;
                        }

                        img {
                            padding-right: 10px;
                        }

                        .cassandra-text {
                            padding-top: 15px;
                        }

                        @media (min-width: 768px) {
                            padding-top: 20px;
                            justify-content: start;
                        }
                    }
                }

                .rev-2 {
                    display: none;

                    @media (min-width: 768px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        grid-area: rev-2;
                        padding: 20px 10px 50px;

                        img {
                            padding-bottom: 15px;
                        }

                        .amanda {
                            grid-area: amanda;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            display: flex;
                            justify-content: start;
                            align-items: center;

                            h3 {
                                font-family: 'DM Sans', sans-serif;
                                font-size: 18px;
                                font-weight: 600;

                                @media (min-width: 1400px) {
                                    font-size: 20px;
                                }
                            }

                            p {
                                color: #F94D1C;
                                font-size: 12px;
                            }

                            img {
                                padding-right: 10px;
                            }

                            .amanda-text {
                                padding-top: 15px;
                            }
                        }
                    }

                    @media (min-width: 998px) {
                        padding: 20px 0px 50px;
                    }


                }

                .rev-3 {
                    display: none;

                    @media (min-width: 1200px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        grid-area: rev-3;
                        padding: 20px 0px 50px;

                        img {
                            padding-bottom: 15px;
                        }

                        .jack {
                            grid-area: jack;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            display: flex;
                            justify-content: start;
                            align-items: center;

                            h3 {
                                font-family: 'DM Sans', sans-serif;
                                font-size: 18px;
                                font-weight: 600;

                                @media (min-width: 1400px) {
                                    font-size: 20px;
                                }
                            }

                            p {
                                color: #F94D1C;
                                font-size: 12px;
                            }

                            img {
                                padding-right: 10px;
                            }

                            .jack-text {
                                padding-top: 15px;
                            }
                        }
                    }

                }
            }
        }
    }
}