.project {

    .container {

        .section-title {
            text-align: center;
        }

        .project-case {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;

            a {
                color: black;
                text-decoration: none;
            }

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

                article {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transition: box-shadow 0.2s ease-in-out;
                    box-shadow: 7px 7px 7px 2px #8a898986;
    
                    &:hover {
                        box-shadow: 3px 3px 3px 2px #8a898986;
                    }

                    @media (min-width: 992px) {
                        padding-bottom: 10px;
                    }
    
                    img {
                        width: 100%;
                        height: 300px;
                        padding: 10px;

                        @media (min-width: 768px) {
                            height: 250px;
                        }

                        @media (min-width: 1200px) {
                            height: 400px;
                        }
                    }
    
                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        font-size: 22px;
                        padding: 30px 20px 16px;

                        border-bottom: 1px solid #DAD9D3;
                    }
    
                    p {
                        padding: 15px;
                        margin-right: 15px;
                        display: inline;
                        text-align: right;
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                        color: #191919;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
    
                    i {
                        margin-left: 3px;
                    }
                }
            
        }

        .center-btn {
            margin-top: 50px;
            margin-bottom: 90px;
        }

    }
}