.articleDetail {

    .container {
        display: grid;
        gap: 20px;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas:    "top"
                                "main"
                                "main"
                                "content-b";

        @media (min-width: 1200px) {
            gap: 40px;
            text-align: left;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:    "top top"
                                    "main side"
                                    "main side"
                                    "content-b content-b";
        }

        @media (min-width: 1400px) {
            gap: 50px;
            grid-template-columns: 2fr 1fr;
            grid-template-areas:    "top top"
                                    "main side"
                                    "main side"
                                    "content-b content-b";
        }

        .content-top {
            grid-area: top;
            padding-top: 90px;

            h2, h4, h6 {
                font-family: 'DM Sans', sans-serif;

                @media (min-width: 1200px) {
                    width: 550px;
                }

            }
            h2 {
                font-weight: 700;
                font-size: 45px;
            }


            p {
                font-family: 'DM Sans', sans-serif;
                font-weight: 400;
                font-size: 20px;

                i {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }

        .content-main {
            grid-area: main;

            p {
                padding-top: 20px;
                padding-bottom: 20px;
                color: #9e9e9e;

            }

            button {
                display: none;

                @media (min-width: 768px) {
                    background-color: #e9e6e6;
                    border: none;
                    display: inline;
                    padding: 12px 28px;
                    margin: 20px 10px 50px;
                }
            }

            img {
                width: 800px;
                height: auto;
            }


        }

        .content-side {
            grid-area: side;
            display: none;

            @media (min-width: 1200px) {
                display: block;
            }

            form {
                padding-bottom: 30px;

                input {
                    color: #191919;
                    background-color: #eeeded;
                    text-decoration: none;
                    padding: 15px;
                    width: 100%;
                    font-size: 16px;
                    border-radius: 25px;
                    outline: none;
                    border: none;
                    text-align: center;

                    @media (min-width: 576px) {
                        margin-right: 20px;
                    }
                }

            }

            .r-post {
                border: 2px solid #eeeded;
                padding: 30px;
                margin-bottom: 30px;

                p {
                    border-bottom: 2px solid #eeeded;
                    padding-bottom: 20px;
                }

                h3 {
                    padding-bottom: 20px;
                }
            }

            .categories1 {
                border: 2px solid #eeeded;
                padding: 30px;

                h3 {
                    padding-bottom: 20px;
                }
            }
        }
    }


}

