.news-and-articles {

    .container {

        h2 {
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 30px;
            padding-top: 150px;
            padding-bottom: 20px;
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
            }

            @media (min-width: 1400px) {
                font-size: 45px;
            }
        }

        .content {
            display: grid;
            grid-template-columns: auto;
            padding: 10px;

            @media (min-width: 768px) {
            }

            @media (min-width: 1200px) {
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto auto;
                row-gap: 50px;
                column-gap: 20px;
                
            }

            a{
                color: black;
                text-decoration: none;
            }

            h3 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 400;
                font-size: 22px;
                padding-bottom: 15px;
                padding-top: 15px;
            }

            h5 {
                padding-bottom: 10px;
            }

            p {
                padding-bottom: 15px;
            }

            .article-news-content {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;


                @media (min-width: 768px) {

                    text-align: left;
                    padding: 20px;
                }

                @media (min-width:1200px) {
                    height: 500px;
                }

                transition: background-color 0.3s ease-in-out, color 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
                box-shadow: 7px 7px 7px 2px #8a898986;

                &:hover {
                    box-shadow: 3px 3px 3px 2px #8a898986;
                }
            } 
            
            .img-fluid {
                width: 100%;
                height: 50%;
            }


        }
    }
}