header {
    background-color: #f0efe9;
    padding: 16px;
    position: sticky;
    z-index: 3;
    top: 0px;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas:    "logotype bars";

        @media (min-width: 992px) {
            grid-template-columns: auto 1fr auto;
            grid-template-areas:    "logotype contactinfo social"
                                    "logotype menu menu";
        }


        .logotype {
            grid-area: logotype;
            margin-right: 70px;
            transition: background-color 0.3s ease-in-out;
            border-radius: 30px;

            &:hover {
                background-color: #f3f0f0;
            }
        }
    }
}