.btn-mini-menu {
    grid-area: bars;
    font-size: 30px;
    border: none;
    background-color: transparent;
    z-index: 0;

    @media (min-width: 992px) {
        display: none;
    }
}

.miniMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f0efe9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 600;
        background-color: #F2CF80;
        text-align: center;
        padding: 20px;
        width: 300px;
        border-radius: 20px;
        transition: background-color 0.3s ease-in-out, color 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
        box-shadow: 7px 7px 7px 2px #8a898986;

        @media (min-width: 768px) {
            width: 500px;
        }

        &:hover {
            background-color: #191919;
            border: 1px solid #191919;
            color: #ffff;
            box-shadow: 3px 3px 3px 2px #8a898986;
        }
    }

    @media (min-width: 992px) {
        display: none;
    }

}