@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html,
body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400px;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.notfound-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.btn-theme {
    background-color: #F2CF80;
    border: 1px solid #F2CF80;
    color: #191919;
    text-decoration: none;
    padding: 12px 28px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out, color 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 7px 7px 7px 2px #8a898986;

    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #ffff;
        box-shadow: 3px 3px 3px 2px #8a898986;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #ffff;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out, color 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 7px 7px 7px 2px #8a898986;

    i {
        margin-left: 8px;
        font-size: 0.9rem;
    }

    &:hover {
        background-color: #ffff;
        border: 1px solid #191919;
        color: #191919;
        box-shadow: 3px 3px 3px 2px #8a898986;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #000000;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out, color 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 7px 7px 7px 2px #8a898986;

    i {
        margin-left: 10px;
        font-size: 15px;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #ffff;
        box-shadow: 3px 3px 3px 2px #8a898986;
    }
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-news-content-date {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    margin: 15px;
    width: 60px;
    height: 60px;
    background-color: #F2CF80;
    text-align: center;
    font-weight: 600;
}